html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    background: url('./assets/skyimage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    text-align: center;
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-family: new;
}
@font-face {
    font-family: new;
    src: url(./assets/Poppins-SemiBold.ttf);
}
.search{
    padding:60px;
    
}
.search input{
    width:60%;
    height:20px;
    border:none;
    border-radius: 5px;
    outline: none;
    background: rgba(255, 255, 255, 0.727);
    text-align: center;
}

.Main{
    background-color: rgba(240, 248, 255, 0.588);
    min-width: 50vw;
    min-height:40vh;
    border-radius: 5px;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.804);
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding:20px;
    
}

.sub{
   padding:20px;
   min-width:40%;
   margin-right:20%;
   margin-bottom: 40px;
}
.sub  h1{
    font-size:40px;
}

.sun img{
    max-width: 60%;
}

.Day1{
    
    max-width: 10vw;
    max-height:15vh;
    text-align: center;
    padding:10px;
    font-size: 10px;
    box-shadow: 0 5px rgba(83, 77, 77, 0.711);

    /* position:absolute;
    left:30%;
    bottom:6%;
    z-index:1; */

}
.Day1 img{
    width:30%;
}
.Day2{
    max-width: 10vw;
    max-height:15vh;
    text-align: center;
    padding:10px;
    font-size: 10px;
    box-shadow: 0 5px rgba(83, 77, 77, 0.711);
    
    /* position:absolute; */
    /* left:43%;
    bottom:6%;
    z-index: 1; */

}
.Day2 img{
    width:30%;
}

.Day3{
    /* background:rgba(255, 255, 255, 0.63); */
    max-width: 10vw;
    max-height:15vh;
    text-align: center;
    padding:10px;
    font-size: 10px;
    box-shadow: 0 5px rgba(83, 77, 77, 0.711);
    /* position:absolute;
    left:56%;
    bottom:6%;
    z-index:1; */


}
.Day3 img{
    width:30%;
}
.searchButt{
    background: rgba(255, 255, 255, 0.56);
    border: none;
    outline:none;
    width:40px;
    height:40px;
    border-radius:50%;
    margin-left: 10px;
    
}
.comp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.searchButt img{
    width:20px;
    padding:2px;
}
.td1{
    max-width:30vw;
    max-height: 20vh;
    font-size: 10px;
    padding:5px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:40px;

}

.td1 img{
    width: 60px;

}


